body{
  margin: 0;
  text-align: center;
}
.top-bar{
  background-color: #bfdcae;
  position: fixed;
  width: 100%;
  text-align: left;
}
.top-links{
  font-size: 35px;
  margin-left: 60px;
}
.whatsapp{
  float: right;
  padding: 10px;
}
.instagram{
  float: right;
  padding: 10px;
}
.linkedin{
  float: right;
  padding: 10px;
}
.contact{
  display: inline-block;
  margin: 15px 0 0 0;
  position: absolute;
  right: 190px;

}
