body{
  margin: 0;
  text-align: center;
}
hr{
  border-style: dotted none none none;
  width: 5%;
  border-width: thick;
  color: #5eaaa8;
}
.top-bar{
  background-color: #f7f7f7;
  top: 0;
  position: fixed;
  z-index: 2;
  width: 100%;
  text-align: left;
}
.top-links{
  font-size: 35px;
  margin-left: 40px;
}
.whatsapp{
  float: right;
  padding: 10px;
}
.instagram{
  float: right;
  padding: 10px;
}
.linkedin{
  float: right;
  padding: 10px;
}
.contact{
  display: inline-block;
  margin: 15px 0 0 0;
  position: absolute;
  right: 190px;
}
.top-container{
  margin: 0;
  position: relative;
}
h1{
  font-family: 'Sacramento', cursive;
  width: 50%;
  margin: auto;
  font-size: 120px;
  position: absolute;
  top:15%;
  left: 25%;
  color: #3f3f44;
}
.thanks{
  width: 30%;
  margin: auto;
  font-size: 30px;
  position: absolute;
  top: 40%;
  left: 35%;
}
.my-pic{
  border-radius: 100%;
  padding-top: 25px;
}
h2{
  font-family: 'Fredoka One', cursive;
  font-size: 40px;
  color: #222831;
}
.me{
  font-family: 'Kalam', cursive;
  width: 80%;
  margin: auto;
  font-size: 120%;
  line-height: 2;
}
.mechanical-1{
  border-radius: 100%;
  float: left;
  margin-left: 50px;
  margin-right: 50px;
}
.me2{
  font-family: 'Kalam', cursive;
  margin: 80px auto 0 auto;
  font-size: 120%;
  text-align: left;
  width: 80%;
  display: inline-block;
  line-height: 2;
}
.me3{
  font-family: 'Kalam', cursive;
  text-align: right;
  margin: 40px auto 0 auto;
  width: 80%;
  display: inline-block;
}
.cv{
  float: right;
  margin-left: 50px;;
  text-align: right;
}
.cvinfo{
  margin-top: 0;
  margin-left: 10%;
  font-size: 120%;
  line-height: 2;
  width: 40%;
  text-align: right;
  float: right;
}
