body {
  margin: 0;
  text-align: center;
  background-color: #fbc687;
}
h1 {
  font-family: 'Sacramento', cursive;
  font-size: 90px;
  color: #393e46;
  position: absolute;
  right:38%;
  top:3%;
  margin-top: 0;
}
h4{
  font-family: 'Gloria Hallelujah', cursive;
  position: absolute;
  top:15%;
  right:42%;
  color: #596e79;
}
.top-container{
  position: relative;
}
.middle-container{
}
.bottom-container{

}
.bottom-cloud{
  position:absolute;
  bottom: 300px;
  left: 450px;
}
.top-cloud{
  position: absolute;
  right: 450px;
  top: 50px;
}
